In [3]:
import pandas as pd
import numpy as np

import sys

In [ ]:
# Подготовка данных

# Чтение данных с наименованиями полей
data_column_names = pd.read_excel('../input_data/data_from_site3.xlsx', sheet_name='names')

# Удаление событий сс пустыми значениями в поле checked_parameter
data_column_names['checked_parameter'].replace('', np.nan, inplace=True)
data_column_names.dropna(subset=['checked_parameter'], inplace=True)

# Получение списка исследуемых параметров
list_data_necessary=[]
for n_data in data_column_names['N']:
    list_data_necessary.append(n_data)
    
# Получение всех данных теста
data_all = pd.read_excel('../input_data/data_from_site2.xlsx', sheet_name='data')

# Получение данных по иследуемым параметрам
data_necessary=data_all[list_data_necessary]
data_necessary.head()

# Переименование заголовков столбцов
old_names = list_data_necessary
new_names = data_necessary.loc[0]
data_necessary.rename(columns=dict(zip(old_names, new_names)), inplace=True) 
data_necessary.drop([0], inplace=True)

# !!! Предварительно нужно провести нормализацию столбцов

# Объединение столбцов с пенсией и зарплатой
data_necessary.loc[data_necessary['Средняя_зарплата_месяц']=='     .  ', 'Средняя_зарплата_месяц']=data_necessary['Сумма_пенсии']
data_necessary.rename(columns=dict(zip(['Средняя_зарплата_месяц'], ['Размер_зарплаты_пенсии'])), inplace=True) 
del data_necessary['Сумма_пенсии']   



# data_necessary.replace('.', '0', inplace=True)
# for line_data in data_all:
#     if data_necessary['Средняя_зарплата_месяц'][line_data] == '.':
#         data_necessary.loc['Средняя_зарплата_месяц'][line_data] = data_necessary['Сумма_пенсии'][line_data]
data_necessary.head()

In [ ]:
data_necessary.to_excel('../output_data/data_to_experiments.xlsx', sheet_name='data')

In [11]:
# Получение первых 5 значений
data_column_names.head()

,N,field_name,checked_parameter,explanation
13,14,Степень_состоятельности,286,Насколько объективно оценивается состоятельность
14,15,Степень_власти,286,Влияние ощущения на доход
15,16,Степень_уважения_другими,286,Влияние ощущения на доход
18,19,Состав_семьи,286,Влияние количества членов семьи на необходимос...
165,166,Наличие_детей,286,Влияет на необходимость больше зарабатывать

In [36]:
# Получение значений выбранных полей
data_column_names

,N,field_name,checked_parameter,explanation
13,14,Степень_состоятельности,286,Насколько объективно оценивается состоятельность
14,15,Степень_власти,286,Влияние ощущения на доход
15,16,Степень_уважения_другими,286,Влияние ощущения на доход
18,19,Состав_семьи,286,Влияние количества членов семьи на необходимос...
165,166,Наличие_детей,286,Влияет на необходимость больше зарабатывать
254,255,Уровень_образования,286,Влияние образования на доход
268,269,Наемный_работник,286,NaN
269,270,Владелец_предприятия,286,NaN
270,271,ИП,286,NaN
271,272,Фермер,286,NaN
272,273,Свободный_работник,286,NaN
276,277,Профессия_должность,286,NaN
277,278,Деятельность_компании,286,NaN
285,286,Средняя_зарплата_месяц,+,NaN
289,290,Сумма_пенсии,+,NaN
344,345,Верующий,286,Гипотеза: наличие веры может снизить тревожнос...
348,349,Пользование_интернетом,286,Взаимосвязь использования интернета и уровнем ...
358,359,Мессенджеры_нет,286,Поиск обратной зависимости от неприменения мес...
367,368,Проживание_область,286,Влияние дохода от области
369,370,Проживание_населенный_пункт,286,Влияние дохода от типа населенного пункта

In [42]:
# Получение значений с индексами иследуемых параметров
data_column_names['N']

13      14
14      15
15      16
18      19
165    166
254    255
268    269
269    270
270    271
271    272
272    273
276    277
277    278
285    286
289    290
344    345
348    349
358    359
367    368
369    370
Name: N, dtype: int64

In [55]:

    
print(list_data_necessary)

[14, 15, 16, 19, 166, 255, 269, 270, 271, 272, 273, 277, 278, 286, 290, 345, 349, 359, 368, 370]

NameError: name 'data_all' is not defined

In [205]:

data_necessary.head()

C:\Users\Tasha\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\Tasha\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Степень_состоятельности,Степень_власти,Степень_уважения_другими,Состав_семьи,Наличие_детей,Уровень_образования,Наемный_работник,Владелец_предприятия,ИП,Фермер,Свободный_работник,Профессия_должность,Деятельность_компании,Средняя_зарплата_месяц,Сумма_пенсии,Верующий,Пользование_интернетом,Мессенджеры_нет,Проживание_область,Проживание_населенный_пункт
1,6,3,5,5,1,3,1,0,0,0,0,бухгалтер ...,пекарня ...,25000,.,1,3,1,24,1
2,4,3,6,1,1,1,.,.,.,.,.,...,...,.,7000,1,1,.,70,2
3,4,6,6,3,2,3,1,0,0,0,0,санитарка ...,Медицина ...,15000,.,1,3,0,19,1
4,2,2,3,4,1,3,.,.,.,.,.,...,...,.,.,1,2,1,4,2
5,1,99,9,1,1,1,.,.,.,.,.,...,...,.,10178,1,1,.,92,1

In [206]:


 
data_necessary.head()

C:\Users\Tasha\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\Tasha\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Tasha\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Степень_состоятельности,Степень_власти,Степень_уважения_другими,Состав_семьи,Наличие_детей,Уровень_образования,Наемный_работник,Владелец_предприятия,ИП,Фермер,Свободный_работник,Профессия_должность,Деятельность_компании,Размер_зарплаты_пенсии,Сумма_пенсии,Верующий,Пользование_интернетом,Мессенджеры_нет,Проживание_область,Проживание_населенный_пункт
1,6,3,5,5,1,3,1,0,0,0,0,бухгалтер ...,пекарня ...,25000,.,1,3,1,24,1
2,4,3,6,1,1,1,.,.,.,.,.,...,...,7000,7000,1,1,.,70,2
3,4,6,6,3,2,3,1,0,0,0,0,санитарка ...,Медицина ...,15000,.,1,3,0,19,1
4,2,2,3,4,1,3,.,.,.,.,.,...,...,.,.,1,2,1,4,2
5,1,99,9,1,1,1,.,.,.,.,.,...,...,10178,10178,1,1,.,92,1

In [182]:
# data_necessary['Средняя_зарплата_месяц'].fillna(data_necessary['Сумма_пенсии'])
# Прежде чем дополнять значения полей з/п с полями пенсии
# data_column_names['Средняя_зарплата_месяц'].replace('', 2, inplace=True)
# data_column_names['Средняя_зарплата_месяц']

KeyError: 'Средняя_зарплата_месяц'

In [90]:
data_necessary.head()

,14,15,16,19,166,255,269,270,271,272,273,277,278,286,290,345,349,359,368,370
0,Степень_состоятельности,Степень_власти,Степень_уважения_другими,Состав_семьи,Наличие_детей,Уровень_образования,Наемный_работник,Владелец_предприятия,ИП,Фермер,Свободный_работник,Профессия_должность,Деятельность_компании,Средняя_зарплата_месяц,Сумма_пенсии,Верующий,Пользование_интернетом,Мессенджеры_нет,Проживание_область,Проживание_населенный_пункт
1,6,3,5,5,1,3,1,0,0,0,0,бухгалтер ...,пекарня ...,25000,.,1,3,1,24,1
2,4,3,6,1,1,1,.,.,.,.,.,...,...,.,7000,1,1,.,70,2
3,4,6,6,3,2,3,1,0,0,0,0,санитарка ...,Медицина ...,15000,.,1,3,0,19,1
4,2,2,3,4,1,3,.,.,.,.,.,...,...,.,.,1,2,1,4,2